# **Association Rules Mining**
Felicia Graciella
0706022010004

Dari berbagai metode dalam data mining, association rules mining merupakan metode yang paling menarik perhatian. Hal ini menjadi alasan kenapa topik ini banyak dipelajari (Moradi & Keyvanpour, 2015). Association rules mining adalah teknik data mining untuk menemukan sebuah asosiatif antara kombinasi item (Fauzy & Asror, 2016). Association rules mining bertujuan untuk mengekstraksi korelasi yang menarik, pola yang sering, asosiasi atau struktur kasual di antara kumpulan item dalam database transaksi dan repositori data lainnya (Ratner, 2017).

Association rules mempunyai 2 bagian yaitu antecedent (if) dan consequent (then). Biasanya association rules ditulis sebagai A -> C, dimana A adalah antecedent dan C adalah consequent. Hal ini berarti jika A ada, maka C juga akan ada. Tetapi tidak dapat menjamin diperolehnya aturan asosiasi yang sesuai secara individual. Selain memiliki cakupan dan keandalan yang sesuai, aturan yang dihasilkan harus juga menarik dan dapat dipahami. Dengan cara ini, ARM menjadi masalah multi-objective, bukan single-objective (Minaei-Bidgoli et al., 2013).

Ada 4 tipe association rule dalam data mining yaitu (Rai, n.d.):
* Multi-relational association rules <br>
Sebuah class baru dari association ruels yang biasanya berasal dari database lain atau database multi-relational. Setiap rule dalam class ini memiliki 1 entity dengan relationship yang berbeda yang mewakilkan relationship tidak langsung antar entity
* Generalized association rule <br>
Banyak digunakan untuk mendapatkan ide kasar dari pattern yang menarik yang sering tersembunyi dalam data
* Interval information association rule
* Quantitative associative rule

3 Algoritma yang dapat digunakan untuk generate associate rules dalam data mining adalah Apriori, Eclat, dan FP-growth. Algoritma Apriori adalah pendekatan paling standar dalam association rules mining. Algoritma ini dimulai dengan dataset yang berisi transaksi dan bertujuan untuk membuat set item yang sering muncul. Dalam prosesnya, set item X dari panjang k adalah sering jika dan hanya jika setiap subset dari X memiliki panjang k 1 dan juga adalah sering. Pertimbangan ini menghasilkan pengurangan substansial ruang pencarian dan memungkinkan penemuan aturan dalam waktu yang layak secara komputasi. confidence adalah keakuratan aturan dan digunakan di Apriori untuk menentukan peringkat aturan (Nahar et al., 2013). Algoritma Eclat adalah akronim dari equivalence class clustering dan bottom up lattice traversal. Dalam Eclat, item yang sering muncul dihasilkan dengan memotong tid-list dari semua pasangan atom yang berbeda dan memeriksa kardinalitas tid-list yang dihasilkan. Algoritma FP-growth yang terkenal mengkompress database yang berisi item yang sering muncul ke dalam pohon pattern yang sering, dimana mempertahankan inofmrasi itemset association yang berguna (Yu & Wang, 2014).

Contoh penerapan Association rules dalam dunia nyata adalah(Rai, n.d.):
* Obat <br>
Dokter dapat menggunakan Association Rules untuk membantu mendiagnosis pasien. Ada banyak variabel yang perlu dipertimbangkan saat membuat diagnosis, karena banyak penyakit memiliki gejala yang sama. Dengan menggunakan aturan asosiasi dan analisis data berbahan bakar pembelajaran mesin, dokter dapat menentukan probabilitas kondisional dari penyakit tertentu dengan membandingkan hubungan gejala dalam data dari kasus sebelumnya. Saat diagnosis baru dibuat, model pembelajaran mesin dapat mengadaptasi aturan untuk mencerminkan data yang diperbarui.
* Retail <br>
Pengecer dapat mengumpulkan data tentang pola pembelian, merekam data pembelian saat barcode item dipindai oleh sistem point-of-sale. Model pembelajaran mesin dapat mencari kemunculan bersama dalam data ini untuk menentukan produk mana yang kemungkinan besar akan dibeli bersama. Pengecer kemudian dapat menyesuaikan strategi pemasaran dan penjualan untuk memanfaatkan informasi ini.
* UX Design <br>
Developer dapat mengumpulkan data tentang bagaimana konsumen menggunakan situs web yang mereka buat. Mereka kemudian dapat menggunakan asosiasi dalam data untuk mengoptimalkan antarmuka pengguna situs web dengan menganalisis di mana pengguna cenderung mengklik dan apa yang memaksimalkan peluang mereka terlibat dengan ajakan bertindak.
* Entertainment <br>
Layanan seperti Netflix dan Spotify dapat menggunakan association rules untuk mendorong mesin rekomendasi konten mereka. Model pembelajaran mesin menganalisis data perilaku pengguna sebelumnya untuk mengetahui pola yang sering terjadi, mengembangkan aturan asosiasi, dan menggunakan aturan tersebut untuk merekomendasikan konten yang kemungkinan besar akan diikuti oleh pengguna, atau mengatur konten dengan cara yang cenderung menempatkan konten yang paling menarik untuk pengguna tertentu pertama.

Metode ini juga disebut Market Basket Analysis (Rerung, 2018). Tujuannya adalah untuk menemukan asosiasi dari item yang muncul bersamaan lebih sering daripada yang dibayangkan dari sampling random semua kemungkinan. Perumpaan yang paling sering dilihat adalah Beer and Diaper. Perumpamaan ini yang memudahkan untuk lebih memahami metode ini.(Rai, n.d.).

Ada 2 ukuran paling basic yang digunakan untuk mengukur association rules yaitu support dan confidence. Support dari sebuah item adalah berapa kali item tersebut muncul dalam transaksi dalam sebuah database (Kaur & Kang, 2016). Confidence merupakan derajat kekuatan dari association rule (Karthikeyan & Ravikumar, 2014). Selain kedua ukuran ini ada ukuran-ukuran lainnya yaitu lift, leverage dan conviction. Lift membantu menentukan tipe dari asosiasi antara antecedent dan consequent. Lift lebih besar dari 1 menunjukkan interdependence positif antara antecedent dan consequent, sedangkan kurang dari 1 menujukkan interdependence negatif (Das et al., 2018). Conviction mengukur kekuatan implikasi rule dari statistical independence. Conviction membandingkan probabilitas X muncul tanpa Y jika mereka adalah dependent dengan frekuensi aktual dari kemunculan X tanpa Y (Prajapati et al., 2017). Leverage merupakan selisih antara X dan Y muncul bersamaan dalam dataset dengan frekuensi yang diperkirakan jika X dan Y adalah dependent.


> Contoh code Association Rules Mining

In [51]:
#import library
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

Dataset yang digunakan dalam code ini diambil dari link https://drive.google.com/file/d/1y5DYn0dGoSbC22xowBq2d4po6h1JxcTQ/view?usp=sharing. Pertama import dataset terlebih dahulu.

In [52]:
#import dataset
url = "https://raw.githubusercontent.com/feliciagraciella/DataMiningWeek9/main/store_data.csv"
df = pd.read_csv(url, header=None)
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
1,burgers,meatballs,eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,chutney,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,turkey,avocado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,mineral water,milk,energy bar,whole wheat rice,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7496,butter,light mayo,fresh bread,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7497,burgers,frozen vegetables,eggs,french fries,magazines,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7498,chicken,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7499,escalope,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7500,eggs,frozen smoothie,yogurt cake,low fat yogurt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Karena tiap item dalam dataset terpisah dalam kolom yang berbeda, maka code ini digunakan untuk menyatukan item dalam rows yang sama.

In [53]:
#menyatukan value tiap rows
records = []
for i in range(0, 7501):
    records.append([str(df.values[i,j]) for j in range(0, 20)])

Code ini digunakan untuk melihat ada item apa saja dalam dataset ini dan ada berapa jumlahnya.

In [54]:
#cek ada berapa unique values
record = []
for i in range(0, 7501):
  for j in range(0, 20) :
    record.append(str(df.values[i,j]))

unique_list = []
 
for x in record:
    if x not in unique_list:
        unique_list.append(x)

print(unique_list)
len(unique_list)

['shrimp', 'almonds', 'avocado', 'vegetables mix', 'green grapes', 'whole weat flour', 'yams', 'cottage cheese', 'energy drink', 'tomato juice', 'low fat yogurt', 'green tea', 'honey', 'salad', 'mineral water', 'salmon', 'antioxydant juice', 'frozen smoothie', 'spinach', 'olive oil', 'burgers', 'meatballs', 'eggs', 'nan', 'chutney', 'turkey', 'milk', 'energy bar', 'whole wheat rice', 'whole wheat pasta', 'french fries', 'soup', 'light cream', 'shallot', 'frozen vegetables', 'spaghetti', 'pet food', 'cookies', 'cooking oil', 'champagne', 'chocolate', 'chicken', 'oil', 'fresh tuna', 'tomatoes', 'black tea', 'extra dark chocolate', 'protein bar', 'red wine', 'pasta', 'pepper', 'shampoo', 'rice', 'sparkling water', 'ham', 'body spray', 'pancakes', 'grated cheese', 'white wine', 'toothpaste', 'parmesan cheese', 'fresh bread', 'ground beef', 'escalope', 'herb & pepper', 'tomato sauce', 'magazines', 'strawberries', 'strong cheese', 'pickles', 'cake', 'hot dogs', 'brownies', 'cereals', 'clothes accessories', 'bug spray', 'muffins', 'light mayo', 'gums', 'soda', 'cider', 'corn', 'yogurt cake', 'mint', 'butter', 'asparagus', 'french wine', 'salt', 'tea', 'barbecue sauce', 'mayonnaise', 'zucchini', 'carrots', 'mushroom cream sauce', 'candy bars', 'chili', 'mashed potato', 'nonfat milk', 'water spray', 'chocolate bread', 'mint green tea', 'eggplant', 'blueberries', 'bacon', 'fromage blanc', 'gluten free bar', 'dessert wine', 'flax seed', 'hand protein bar', 'sandwich', 'babies food', 'melons', 'cauliflower', 'green beans', 'ketchup', 'bramble', 'burger sauce', 'oatmeal', ' asparagus', 'cream', 'napkins']

121

In [55]:
#import library
import mlxtend
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import association_rules, apriori

Modul Apriori memerlukan data frame dengan value 0 dan 1 atau True dan False. Digunakan Encoder agar memenuhi syarat dari modul apriori yang ada dalam library mlxtend. Setelah di encode Data dimasukkan dalam data frame.

In [56]:
#encode
trans_encoding = TransactionEncoder()
df2 = trans_encoding.fit(records).transform(records)
df3 = pd.DataFrame(df2, columns=trans_encoding.columns_)

Terdapat kolom nan karena ada pembeli yang tidak membeli barang tertentu. Oleh karena itu kolom nan di drop.

In [57]:
#drop kolom nan
df3 = df3.drop(columns=['nan'])

Digunakan min_support 0.05 yang support minimum yang dibutuhkan untuk sebuah itemset agar terpilih. use_colnames = True digunakan untuk menyimpan nama kolom agar lebih mudah dipahami.

In [58]:
# Algoritma Apriori
frequent_set = apriori(df3, min_support = 0.05, use_colnames = True)

Dari frequent sets, dicari association rules yang menunjukkan jika A dibeli, maka B juga dibeli.

In [59]:
# Perhitungan Association rules
rules = association_rules(frequent_set, metric = 'lift', min_threshold = 1)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(mineral water),(chocolate),0.238368,0.163845,0.052660,0.220917,1.348332,0.013604,1.073256
1,(chocolate),(mineral water),0.163845,0.238368,0.052660,0.321400,1.348332,0.013604,1.122357
2,(mineral water),(eggs),0.238368,0.179709,0.050927,0.213647,1.188845,0.008090,1.043158
3,(eggs),(mineral water),0.179709,0.238368,0.050927,0.283383,1.188845,0.008090,1.062815
4,(mineral water),(spaghetti),0.238368,0.174110,0.059725,0.250559,1.439085,0.018223,1.102008
5,(spaghetti),(mineral water),0.174110,0.238368,0.059725,0.343032,1.439085,0.018223,1.159314

**References** <br>
Ratner, B. (2017). Statistical and machine-learning data mining:: Techniques for better predictive modeling and analysis of big data. CRC Press. <br>
Fauzy, M., Saleh W, K. R., & Asror, I. (2016). Penerapan Metode Association Rule Menggunakan. Jurnal Ilmiah Teknologi Informasi Terapan, II(2), 221–227. <br>
Moradi, M., & Keyvanpour, M. R. (2015). An analytical review of XML association rules mining. Artificial Intelligence Review, 43(2), 277-300. https://doi.org/10.1007/s10462-012-9376-5 <br>
Rerung, R. R. (2018). Penerapan Data Mining dengan Memanfaatkan Metode Association Rule untuk Promosi Produk. Jurnal Teknologi Rekayasa, 3(1), 89. https://doi.org/10.31544/jtera.v3.i1.2018.89-98 <br>
Nahar, J., Imam, T., Tickle, K. S., & Chen, Y. P. P. (2013). Association rule mining to detect factors which contribute to heart disease in males and females. Expert Systems with Applications, 40(4), 1086–1093. https://doi.org/10.1016/j.eswa.2012.08.028 <br>
Minaei-Bidgoli, B., Barmaki, R., & Nasiri, M. (2013). Mining numerical association rules via multi-objective genetic algorithms. Information Sciences, 233, 15–24. https://doi.org/10.1016/j.ins.2013.01.028 <br>
Kaur, M., & Kang, S. (2016). Market Basket Analysis: Identify the Changing Trends of Market Data Using Association Rule Mining. Procedia Computer Science, 85(Cms), 78–85. https://doi.org/10.1016/j.procs.2016.05.180 <br>
Das, S., Dutta, A., Jalayer, M., Bibeka, A., & Wu, L. (2018). Factors influencing the patterns of wrong-way driving crashes on freeway exit ramps and median crossovers: Exploration using ‘Eclat’ association rules to promote safety. International Journal of Transportation Science and Technology, 7(2), 114–123. https://doi.org/10.1016/j.ijtst.2018.02.001 <br>
Prajapati, D. J., Garg, S., & Chauhan, N. C. (2017). Interesting association rule mining with consistent and inconsistent rule detection from big sales data in distributed environment. Future Computing and Informatics Journal, 2(1), 19–30. https://doi.org/10.1016/j.fcij.2017.04.003 <br>
Karthikeyan, T., & Ravikumar, N. (2014). A survey on association rule mining. International Conference on Advanced Computing and Communication Technologies, 3(1), 5223–5227. https://doi.org/10.1109/ACCT.2015.69 <br>
Yu, X., & Wang, H. (2014). Improvement of Eclat Algorithm Based on Support in Frequent Itemset Mining. Journal of Computers, 9(9), 2116–2123. https://doi.org/10.4304/jcp.9.9.2116-2123 <br>
Rai, A. (n.d.). Association rule mining: An overview and its applications. UpGrad Blog. Retrieved November 13, 2022, from https://www.upgrad.com/blog/association-rule-mining-an-overview-and-its-applications/ <br>
Malik, U. (n.d.). Association Rule Mining via Apriori Algorithm in Python. Stack Abuse. https://stackabuse.com/association-rule-mining-via-apriori-algorithm-in-python/